//*Variáveis
$bgNavbar: #546978;
$colorLinks: purple;

ul{
    list-style: none;
}

.header{
    background-color: $bgNavbar;
    height: 10vh;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 17px;
    font-size: 1.6rem;
    font-weight: 900;
}

.logo{
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

a:hover{
    color: $colorLinks;  
    font-weight: 900;
    text-decoration: none;
    font-size: 1.3rem;

}

@media screen and (max-width: 480px) {

    nav, .header-ul{
        gap: 30px;
        font-size: 1rem;
        padding: 15px;
    }

    
}
