//*Variáveis
$bgHome: pink;


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgHome;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
}

.dinamic-title{
    overflow-x:visible;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; 
}

@media only screen and(max-width: 768px) {

    .dinamic-title{
        color: #000000;       
    }
    
}
